.boards{
    background-color: yellowgreen;
    overflow: hidden;
    min-height: 100vh;
    &__container{
        font-size: 2.4rem;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        &-list{
            display: flex;
            flex-wrap: wrap;
            a {
                min-height: 10rem;
                width: 40rem;
                padding: 2rem;
                margin: 2rem;
                overflow: hidden;
                background-color: yellow;
                color: red;
                text-decoration: none;
            }
        }
    }
    
}